<div class="show-watchlist">
<center><h1><%= @watchlist.name %></h1></center>
<center>
<table class="results">
  <tr class="header-row">
    <th>Company</th>
    <th>Description</th>
    <th>Industry</th>
    <th>Location</th>
    <th>Date Founded</th>
    <th>Total Funding</th>
    <th>Last Raise</th>
  </tr>
<% @watchlist.companies.each do |company| %>
  <tr>
    <td><%= link_to company.name, company_path(company) %></td>
    <td><%= company.description %></td>
    <td><%= company.industry %></td>
    <td><%= company.location %></td>
    <td class="date-founded"><% unless company.date_founded == 0 %>
        <%= company.date_founded %><% end %></td>
    <td><% unless company.funding == 0 %>
        $<%= number_with_delimiter(company.funding, :delimiter => ",") %><% end %></td>
    <td class="last-raise"><% unless company.last_round.nil? %>
        <%= "#{company.last_round.to_s[5..6]}/#{company.last_round.to_s[2..3]}" %>
        <% end %></td>
  </tr>
<% end %>
</table>
</center>
</div>