<% unless @user.errors.none? %>
  <% @user.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>

<center>

<div class="user-form">
<h1>Register : </h1>

<%= form_for @user do |f| %>
  
  <%= f.email_field :email, :placeholder => "  email address" %>

  <%= f.password_field :password, :placeholder => "  password"  %>

  <%= f.password_field :password_confirmation, :placeholder => "  confirm password" %>

  <%= f.submit "create account", :class => "submit" %>

<% end %>

</div>

</center>