<h3>Companies matching your criteria:</h3>
<table>
  <tr>
    <th>Company</th>
    <th>Description</th>
    <th>Industry</th>
    <th>Location</th>
    <th>Date Founded</th>
    <th>Total Funding</th>
    <th>Last Raise</th>
    <th>Watch</th>
  </tr>
<%= form_tag append_to_watchlist_user_path(current_user), :method => :patch do%>
  <%= select_tag :watchlist, options_from_collection_for_select(@watchlist_options, :id, :name) %>
<% @companies.each do |company| %>
  <tr>
    <td><%= link_to company.name, company_path(company) %></td>
    <td><%= company.description %></td>
    <td><%= company.industry %></td>
    <td><%= company.location %></td>
    <td><%= company.date_founded %></td>
    <td>$<%= number_with_delimiter(company.funding, :delimiter => ",") %></td>
    <td><%= "#{company.last_round.to_s[5..6]}/#{company.last_round.to_s[2..3]}" %></td>
    <td><%= check_box_tag 'companies[]', company.id %></td>
  </tr>
<% end %>
<%= submit_tag "watch" %>
<% end %>
</table>
