<!DOCTYPE html>
<html>
<head>
  <title>Fundation</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>
    <% if logged_in? %>
      <nav>
        <ul>
          <li>FUNDATION</li>
          <li><%= link_to 'Profile', user_path(current_user) %></li>
          <li><%= link_to 'New Watchlist', new_user_watchlist_path(current_user) %></li>
          <li><%= link_to 'Query', query_companies_path %></li>
          <li><%= link_to 'Search', search_companies_path %></li>
          <li><%= link_to 'Logout', session_path, :method => :delete %></li>
        </ul>
      </nav>
    <% else %>
      <nav>
        <ul>
          <li>FUNDATION</li>
          <li><%= link_to 'Register', new_user_path %></li>
          <li><%= link_to 'Login', new_session_path %></li>
        </ul>
      </nav>
    <% end %>

  <%= yield %>

</body>
</html>
